<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>History</title>
    <link rel="stylesheet" href="css/table.css">
</head>
<body>
<nav><a href="/">Главная</a> </nav>
<h1>История</h1>
<form action="history" method="get">
    Поиск с <input type="datetime-local" name="start" th:value="${start}">
    по <input type="datetime-local" name="stop" th:value="${stop}">
    <input type="submit">
</form>
<div style="margin: 20px; float: left">
    Выключатель 1<br>
    <table class="rwd-table">
        <th>ID</th>
        <th>Выключатель</th>
        <th>Состояние</th>
        <th>Дата и время</th>
        <th>Результат</th>
        <tr th:each="h: ${historySW1}">
            <td th:text="${h.id}"/>
            <td th:text="${h.name}"/>
            <td th:text="${h.switchOn}"/>
            <td th:text="${h.time}"/>
            <td th:text="${h.result}"/>
        </tr>
    </table>
</div>
<div style="margin: 20px; float: left">
    Выключатель 2<br>
    <table class="rwd-table">
        <th>ID</th>
        <th>Выключатель</th>
        <th>Состояние</th>
        <th>Дата и время</th>
        <th>Результат</th>
        <tr th:each="h: ${historySW2}">
            <td th:text="${h.id}"/>
            <td th:text="${h.name}"/>
            <td th:text="${h.switchOn}"/>
            <td th:text="${h.time}"/>
            <td th:text="${h.result}"/>
        </tr>
    </table>
</div>
</body>
</html>