<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Switcher</title>
    <script type="text/javascript" src="js/switch.js"></script>
    <link rel="stylesheet" href="css/checkbox.css">
</head>
<body onload="startAsync()">
<h1>Переключатели</h1>
<h2 id="log">сообщения</h2>
<div class="switch">
    <input type="checkbox" id="1" onchange="check(1)">
    <label><i></i></label>
</div>
<div>
    <p><br></p>
</div>
<div class="switch">
    <input type="checkbox" id="2" onchange="check(2)">
    <label><i></i></label>
</div></body>
</html>