<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Switcher</title>
    <script type="text/javascript" src="js/switch.js"></script>
    <link rel="stylesheet" href="css/checkbox.css">
</head>
<body onload="startAsync()" style="background-color: black; color: white;">
<h1>Переключатели</h1>

<div class="switch">
    <div>
        <img id="lamp1" src="img/low.png">
    </div>
    <input type="checkbox" id="1" onchange="check(1)" >
    <label ><i onclick="onClickSw('1')"></i></label>
</div>

<div class="switch">
    <div>
        <img id="lamp2" src="img/low.png">
    </div>
    <input type="checkbox" id="2" onchange="check(2)">
    <label><i onclick="onClickSw('2')"></i></label>
</div>
<div>
    <h2 id="log"></h2>
</div>

</body>
</html>